.bg-red{
    background-color: red;
}

.bg-green{
    background-color: green;
}

.bg-gray{
    background-color: gray;
}

.box-one{
    height: 200px;
    width: 20%;
    background-color: red;
    float:left;
}


.box-two{
    height: 200px;
    width: 80%;
    background-color: green;
    float:left;
}


.box-three{
    height: 50px;
    width: 100%;
    background-color: gray;
    float:left;
}