.bg-red{
    background-color: red;
}

.bg-green{
    background-color: green;
}

.bg-gray{
    background-color: gray;
}

.box-one{
    height: 200px;
    width: 20%;
    background-color: red;
    float:left;
}


.box-two{
    height: 200px;
    width: 80%;
    background-color: green;
    float:left;
}


.box-three{
    height: 50px;
    width: 100%;
    background-color: gray;
    float:left;
}

.box-four{
    height: 600px;
    width: 20%;
    background-color: hotpink;
    float: left;
}


.box-five{
    height:600px;
    width: 80%;
    background-color: indianred;
    float:left;
}


.box-six{
    height: 50px;
    width:100%;
    background-color: aqua;
    float:left;
}


.div-one{
    height: 300px;
    width: 400px;
    background-color: red;
    float: left;
    margin: 20px 10px 30px 40px;
    color: white;
    padding:10px;
}


.div-two{
    height:400px;
    width: 500px;
    background-color: green;
    float: left;
}