*
{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
}

.wrapper{
    float:left;
    width:60%;
    height:500px;
    background-color:rgb(230, 196, 196);
    margin-left:20%;

}




.left-content{
    width:20%;
    height:100%;
    float:left;
    background-color:gainsboro;
}


.right-content{
    float:left;
    width:80%;
    height:100%;
    background-color:lemonchiffon;
}



.left-content ul{
    list-style-type: none;

}


.left-content ul li{
    border: 1px solid red;
}