.div-one{

height:200px;
width:300px;
background-color:rgba(253, 0, 0, 0.8);
position:sticky;
top:10px;
}

/* right:400px; */
/* position:absolute;
top:0px;
bottom:0px; */
/* position: relative;
/* top:100px; */
/* left:100px; */
/* right:100px; */
/* left:100px; */
/* right:0px;
top:0px;*/



/* index2 */
@media screen and (min-width:700px){
    .box-one{
        height:200px;
        width:300px;
        background-color:rgba(253, 0, 0, 0.8);
    }
}